LOGGER_LEVEL=debug
NODE_ENV=dev
MORGAN_FORMAT=dev
MORGAN_SKIP_CODE=0

ROOT_USERNAME=
ROOT_PASSWORD=

JWT_SECRET=jwt-very-strong-secret-strong
SALT=14

JWT_EXPIRES_IN=3600
ACCOUNTS_FILE_PATH=
SUPABASE_URL=
SUPABASE_KEY=

DATABASE_URL=postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres